services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ecommerce_hub
      POSTGRES_USER: ecommerce_hub
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ecommerce_hub -d ecommerce_hub" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./api
    container_name: api
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      DATABASE_URL: jdbc:postgresql://postgres:5432/ecommerce_hub
      DATABASE_USERNAME: ecommerce_hub
      DATABASE_PASSWORD: password
      JWT_SECRET: c0c1f1d0cfada878fe48dd84f30d0b7372c11ffc715db4d96aef3ad667ece0dc
      JWT_EXPIRATION: 86400

volumes:
  postgres-data: